.background{
    position: absolute;
    width: 100%;
    height: 2041px;
    left: 0px;
    top: 1534px;
    
    background: #090909;
}

.entorno {
    position: absolute;
    width: 237px;
    height: 64px;
    left: 601px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 64px;
    /* identical to box height, or 178% */

    text-align: center;

    color: #FFD302;
}

.aulas {
    box-sizing: border-box;

    position: absolute;
    width: 1160px;
    height: 1840px;
    left: 140px;
    top: 150px;
    
    border: 1px dashed #9747FF;
    border-radius: 5px;
}

.aulaJazz {
    position: absolute;
    width: 1120px;
    height: 240px;
    left: 20px;
    top: 20px;
    background: #1F272A;
}

.jazz {
    position: absolute;
    left: 3.21%;
    right: 37.77%;
    top: 60%;
    bottom: 13.33%;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 95px;
    line-height: 64px;
    /* border: 1px solid #FFD302; */
    color: #FFD302;
}

.jazzSobre {
    position: absolute;
    left: 67.23%;
    right: 9.11%;
    top: 15.42%;
    bottom: 42.08%;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    
    color: #FFFFFF;
}

.aulaJazz > button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 27px;
    gap: 10px;

    position: absolute;
    left: 67.23%;
    right: 17.23%;
    top: 73.33%;
    bottom: 11.67%;

    background: #FFD302;
    border-radius: 62px;
    outline: none;
    border: none;
    cursor: pointer;
}

.aulaJazz > button p {
    width: 137px;
    height: 17px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

    text-transform: uppercase;

    color: #090909;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.aulaDancaUrbana {
    position: absolute;
    width: 1120px;
    height: 240px;
    left: 20px;
    top: 280px;
    background: #1F272A;
}

.dancaurbana {
    position: absolute;
    left: 3.21%;
    right: 50.71%;
    top: 25%;
    bottom: 8.33%;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 80px;
    
    color: #FFD302;
    /* border: 1px solid #FFD302;  */
}

.dancaUrbanaSobre {
    position: absolute;
    left: 67.23%;
    right: 3.39%;
    top: 15.42%;
    bottom: 35.42%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;

    color: #FFFFFF;
}

.aulaDancaUrbana > button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 27px;
    gap: 10px;

    position: absolute;
    left: 67.23%;
    right: 17.23%;
    top: 73.33%;
    bottom: 11.67%;

    background: #FFD302;
    border-radius: 62px;
    outline: none;
    border: none;
    cursor: pointer;
}

.aulaDancaUrbana > button p {
    width: 137px;
    height: 17px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;

    color: #090909;

    flex: none;
    order: 0;
    flex-grow: 0;

}

.aulaContemp {
    position: absolute;
    width: 1120px;
    height: 240px;
    left: 20px;
    top: 540px;
    background: #1F272A;
}

.contemp {
    position: absolute;
    left: 3.21%;
    right: 50.27%;
    top: 25%;
    bottom: 8.33%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 80px;
    /* or 83% */


    /* border: 1px solid #FFD302; */
    color: #FFD302;
}

.sobreContemp {
    position: absolute;
    left: 67.23%;
    right: 7.05%;
    top: 15.42%;
    bottom: 35.42%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    /* or 112% */


    color: #FFFFFF;
}

.aulaContemp > button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 27px;
    gap: 10px;

    position: absolute;
    left: 67.23%;
    right: 17.23%;
    top: 73.33%;
    bottom: 11.67%;

    background: #FFD302;
    border-radius: 62px;
    outline: none;
    border: none;
    cursor: pointer;
}

.aulaContemp > button p {
    width: 137px;
    height: 17px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

    text-transform: uppercase;

    color: #090909;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.aulaBallet {
    position: absolute;
    width: 1120px;
    height: 240px;
    left: 20px;
    top: 800px;
    background: #1F272A;
}

.ballet {
    position: absolute;
    left: 3.21%;
    right: 61.25%;
    top: 60%;
    bottom: 13.33%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 64px;

    /* border: 1px solid #FFD302; */
    color: #FFD302;
}

.sobreBallet {
    position: absolute;
    left: 67.23%;
    right: 7.86%;
    top: 15.42%;
    bottom: 35.42%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;

    color: #FFFFFF;
}

.aulaBallet > button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 27px;
    gap: 10px;

    position: absolute;
    left: 67.23%;
    right: 17.23%;
    top: 73.33%;
    bottom: 11.67%;

    background: #FFD302;
    border-radius: 62px;
    outline: none;
    border: none;
    cursor: pointer;
}

.aulaBallet > button p {
    width: 137px;
    height: 17px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

    text-transform: uppercase;

    color: #090909;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.aulaAcroba {
    position: absolute;
    width: 1120px;
    height: 240px;
    left: 20px;
    top: 1060px;
    background: #1F272A;
}

.acroba {
    position: absolute;
    left: 3.21%;
    right: 34.55%;
    top: 60%;
    bottom: 13.33%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 64px;

    /* border: 1px solid #FFD302; */
    color: #FFD302;
}

.sobreAcroba {
    position: absolute;
    left: 67.23%;
    right: 8.84%;
    top: 15.42%;
    bottom: 35.42%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;

    color: #FFFFFF;
}

.aulaAcroba > button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 27px;
    gap: 10px;

    position: absolute;
    left: 67.23%;
    right: 17.23%;
    top: 73.33%;
    bottom: 11.67%;

    background: #FFD302;
    border-radius: 62px;
    outline: none;
    border: none;
    cursor: pointer;
}

.aulaAcroba > button p {
    width: 137px;
    height: 17px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

    text-transform: uppercase;

    color: #090909;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.aulaTeatro {
    position: absolute;
    width: 1120px;
    height: 240px;
    left: 20px;
    top: 1320px;
    background: #1F272A;
}

.teatro {
    position: absolute;
    left: 3.21%;
    right: 59.46%;
    top: 60%;
    bottom: 13.33%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 64px;

    /* border: 1px solid #FFD302; */
    color: #FFD302;
}

.sobreTeatro {
    position: absolute;
    left: 67.23%;
    right: 11.16%;
    top: 15.42%;
    bottom: 35.42%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
}

.aulaTeatro > button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 27px;
    gap: 10px;

    position: absolute;
    left: 67.23%;
    right: 17.23%;
    top: 73.33%;
    bottom: 11.67%;

    background: #FFD302;
    border-radius: 62px;
    outline: none;
    border: none;
    cursor: pointer;
}

.aulaTeatro > button p {
    width: 137px;
    height: 17px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

    text-transform: uppercase;

    color: #090909;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.aulaJiu {
    position: absolute;
    width: 1120px;
    height: 240px;
    left: 20px;
    top: 1580px;
    background: #1F272A;
}

.jiu {
    position: absolute;
    left: 3.21%;
    right: 53.04%;
    top: 60%;
    bottom: 13.33%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 64px;

    /* border: 1px solid #FFD302; */
    color: #FFD302;
}

.sobreJiu {
    position: absolute;
    left: 67.23%;
    right: 7.05%;
    top: 15.42%;
    bottom: 35.42%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;

    color: #FFFFFF;
}

.aulaJiu > button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 27px;
    gap: 10px;

    position: absolute;
    left: 67.23%;
    right: 17.23%;
    top: 73.33%;
    bottom: 11.67%;

    background: #FFD302;
    border-radius: 62px;
    outline: none;
    border: none;
    cursor: pointer;
}

.aulaJiu > button p {
    width: 137px;
    height: 17px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

    text-transform: uppercase;

    color: #090909;

    flex: none;
    order: 0;
    flex-grow: 0;
}