.background{
    position: absolute;
    margin-top: 720px;
    /* width: 100vw;
    height: 100vh; */
    left: 0px;
    top: 766px;
    background: #090909;
    width: 100vw;
    height: 1815px;
}

.entorno {
    position: absolute;
    margin-top: 720px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 64px;
    margin-left: 44%;
    color: #FFD302;
}

.aulas {
    box-sizing: border-box;
    position: absolute;
    width: 1160px;
    height: 1500px;
    left: 20%;
    top: 1800px;
    border: 1px dashed #9747FF;
    border-radius: 5px;
}

.aulaJazz {
    background: #1F272A;
    display: flex;
    height: 240px;
    width: 1120px;
    margin: 15px;
}

.aulaJazz > img {
    margin: 21px 435px 20px 420px;
}

.aulaJazz > h1 {
    position: absolute;
    color: #FFD302;
    left: 70.71%;
    right: 6.52%;
    top: 7.25%;
    bottom: 9.58%;
}

.aulaJazz > p {
    position: absolute;
    color: #FFFFFF;
    left: 70.71%;
    right: 6.52%;
    top: 9.25%;
    bottom: 9.58%;
}

.jazz {
    position: absolute;
    margin: 144px 423px 32px 32px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 96px;
    line-height: 64px;
    color: #FFD302;
}

.aulaDu {
    background: #1F272A;
    display: flex;
    height: 240px;
    width: 1120px;
    margin: 15px;
}

.aulaDu > img {
    margin: 21px 435px 20px 420px;
}

.dancaUrbana {
    position: absolute;
    margin: 250px 423px 32px 36px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 80px;
    color: #FFD302;
    height: 160px;
    width: 516px;
    left: 16px;
    top: 70px;
}

.aulaDu > h1 {
    position: absolute;
    color: #FFD302;
    left: 70.71%;
    right: 6.52%;
    top: 23.5%;
    bottom: 9.58%;
}

.aulaDu > p {
    position: absolute;
    color: #FFFFFF;
    left: 70.71%;
    right: 6.52%;
    top: 25.5%;
    bottom: 9.58%;
}