.container {
    position: relative;
    width: 100%;    
    background: #090909;
}

.container > h1 {
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 64px;
    /* or 178% */

    text-align: center;

    color: #FFD302;
}

.container > p {
    position: relative;
    height: 52px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    
    text-align: center;
    
    color: #FFFFFF;
}


.container iframe {
    position: relative;
    width: 1120px;
    height: 524px;
    border-radius: 41px;
}

.iframeContainer {
    max-width: 1120px;
    margin: 0 auto;
}