.container {
    position: relative;
    width: 100%;
    background: #1F272A;
    margin-top: 5vh;
    padding: 50px;
    padding-bottom: 75px;
    box-sizing: border-box;
}

.logo {
    position: relative;
    max-width: 352px;
    max-height: 73px;
}

.mail {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: right;

    color: #FFD302;
}

.number {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    color: #FFFFFF;
}

.contacts {
    position: relative;
}

.creators {
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.36px;
    text-align: right;
    color: #FFFFFF;
    max-height: 38px;
}

.desenv {
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    max-width: 416px;
    max-height: 38px;
}

.social {
    display: flex;
    gap: 20px;
    color: #FFFFFF;
    font-size: 25px;
    position: relative;
    flex-direction: row-reverse;
    margin-bottom: 250px;
}

.icon {
    font-size: 24px;
    color: #fff;
}

.innerContainer {
    display: flex;
    justify-content: space-between;
}