.containerProf {
    position: relative;
    width: 100%;
    background: #090909;
}

.titleProf {
    position: relative;
    height: 64px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 64px;
    text-align: center;

    color: #FFD302;
}

.entorno {
    box-sizing: border-box;
    position: relative;
    width: calc(100% - 280px);
    margin: 0 auto;
    /* border: 1px dashed #9747FF;
    border-radius: 5px; */
    padding-top: 15px;
    padding-bottom: 15px;
}

.modal {
    color: white;
}

.infoContainer {
    position: relative;
    background-color: #1F272A;
    padding: 50px;
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    box-sizing: border-box;
}

.infoContainer span {
    display: flex;
    margin-bottom: 30px;
}

.infoContainer .infoTitle{
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 600;
    line-height: 18px;
}

.infoContainer p {
    white-space: break-spaces;
}

.infoContainer a {
    margin-left: 25px;
    padding: 4px 10px;
    border-radius: 20px;
    background-color: #FFD302;
    font-family: Inter;
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: #090909;
    text-decoration: none;
}

.closeBtn {
    background: transparent;
    border: none;
    color: #FFFFFF;
    font-size: 35px;
    position: absolute;
    top: 50px;
    right: 50px;
    cursor: pointer;
    transition: all 200ms ease;
    border-radius: 4px;
}

.closeBtn:hover {
    background: #FFD302;
    color: #090909;
}