.profName {
    left: 10.56%;
    right: 25%;
    top: 87.11%;
    bottom: 4.18%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
}

.profJob {
    font-family: 'Montserrat';
    font-style: normal;
    line-height: 24px;
    font-size: 16px;
    color: #FFFFFF;
}

.cardProf {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 14px;

}

.cardProf:hover .cardInfo{
    background: #FFD302;
}

.cardProf:hover .profName, .cardProf:hover .profJob{
    color: #090909;
}

.cardInfo {
    max-width: 360px;
    padding: 20px;
    box-sizing: border-box;
}

.procard {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 17.25%;
}

.cardProf img {
    max-width: 360px;
}

.profBtn {
    text-decoration: underline;
    color: #090909;
    font-family: 'Montserrat';
    font-style: normal;
    line-height: 24px;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0px;
    margin: 0px;
    margin-top: 10px; 
    font-size: 16px;
}