.containerProf {
    position: absolute;
    width: 100%;
    height: 914px;
    left: 0px;
    top: 3574px;
    background: black;
}

.conProf {
    position: absolute;
    width: 524px;
    height: 64px;
    left: 465px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 64px;
    text-align: center;

    color: #FFD302;
}

.entorno {
    box-sizing: border-box;
    position: absolute;
    width: calc(100% - 280px);
    left: 140px;
    top: 95px;
    /* border: 1px dashed #9747FF;
    border-radius: 5px; */
    padding-top: 15px;
    padding-bottom: 15px;
}