.container {
    position: relative;
    width: 1440px;
    height: 1210px;

    background: #090909;
    border-radius: 10px;    
}

.phrase {
    position: absolute;
    width: 200px;
    height: 29px;
    left: 34px;
    top: 28px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
}

.infosAluno {
    position: absolute;
    width: 153px;
    height: 17px;
    left: 88px;
    top: 92px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
}

.infosAluno span {
    position: absolute;
    width: 902.5px;
    height: 0px;
    left: 0px;
    top: 19.5px;
    
    border: 1px solid #FFD302;
}

.classroomName {
    box-sizing: border-box;

    /* Auto layout */
    
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 17px;
    gap: 10px;
    
    position: absolute;
    width: 440px;
    height: 43px;
    left: 68px;
    top: 173px;
    
    background: #090909;
    border: 1px solid #6B6B6B;
    border-radius: 10px;
}

.labelclassroomName {
    position: absolute;
    width: 114px;
    height: 17px;
    left: 85px;
    top: 148px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
}

.professorName{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 17px;
    gap: 10px;

    position: absolute;
    width: 440px;
    height: 43px;
    left: 528px;
    top: 173px;

    background: #090909;
    border: 1px solid #6B6B6B;
    border-radius: 10px;
}

.labelprofessorName {
    position: absolute;
    width: 136px;
    height: 17px;
    left: 545px;
    top: 148px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.weekDay {
    
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 17px;
    gap: 10px;

    position: absolute;
    width: 244px;
    height: 43px;
    left: 68px;
    top: 264px;

    background: #FFFFFF;
    border: 1px solid #6B6B6B;
    border-radius: 10px;
}

.labelweekDay {
    position: absolute;
    width: 106px;
    height: 17px;
    left: 85px;
    top: 239px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #FFFFFF;

}

.classroomTime {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 17px;
    gap: 10px;

    position: absolute;
    width: 176px;
    height: 43px;
    left: 332px;
    top: 264px;

    background: #090909;
    border: 1px solid #6B6B6B;
    border-radius: 10px;
}

.labelclassroomTime {
    position: absolute;
    width: 116px;
    height: 17px;
    left: 349px;
    top: 239px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.classroomEndTime {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 17px;
    gap: 10px;

    position: absolute;
    width: 176px;
    height: 43px;
    left: 528px;
    top: 264px;

    background: #090909;
    border: 1px solid #6B6B6B;
    border-radius: 10px;
}

.labelclassroomEndTime {
    position: absolute;
    width: 150px;
    height: 17px;
    left: 545px;
    top: 239px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.status {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 17px;
    gap: 10px;

    position: absolute;
    width: 123px;
    height: 43px;
    left: 724px;
    top: 264px;

    background: #090909;
    border: 1px solid #6B6B6B;
    border-radius: 10px 0px 0px 10px;
}

.labelstatus {
    position: absolute;
    width: 115px;
    height: 17px;
    left: 741px;
    top: 239px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.enviar {
    position: absolute;
    width: 203px;
    height: 50px;
    left: 772px;
    bottom: 49px;

    background: #FFD304;
    border-radius: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #090909;
    outline: none;
    border: none;
    cursor: pointer;
}

.cancelar {
    position: absolute;
    width: 118px;
    height: 50px;
    left: 633px;
    bottom: 49px;

    background-color: transparent;
    border-radius: none;
    outline: none;
    border: none;
    cursor: pointer;
}

.cancelar p {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #6B6B6B;
}